version: '3.8' 
services:
  mysql:
    image: mysql:8.0 
    environment:
      MYSQL_ROOT_PASSWORD: huri1234 
      MYSQL_DATABASE: goCMS 
      MYSQL_USER: huri 
      MYSQL_PASSWORD: huri1234 
    ports:
      - "3306:3306" 
    volumes:
      - mysql_data:/var/lib/mysql 

volumes:
  mysql_data: